<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_area :body, placeholder: "Hi "+current_user.email+"! What's up?",
     style: "width: 100%; height: 10em", class: "p-3 rounded", id: "tweet_textarea" %>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= form.submit "Share", class: "btn btn-primary"%>
  </div>
  <hr>
<% end %>
