<section style="background-color: #eee;" class="rounded">
<%= form_with model: @user do |f| %>
<div class="container py-5 rounded">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <p class="text-muted mt-3 mb-1"><%= @user.job %></p>
            <p class="text-muted mb-4"><%= @user.full_name%></p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">https://mdbootstrap.com</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">@mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
     <div class="col-lg-8 text-black">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= f.text_field :full_name, placeholder: @user.full_name, class: "form-control form-control-sm"%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= f.email_field :email, placeholder: @user.email, class: "form-control form-control-sm"%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= f.text_field :phone, placeholder: @user.phone, class: "form-control form-control-sm"%></p>
              </div>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= f.text_field :address, placeholder: @user.address, class: "form-control form-control-sm"%></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">About</span>
                </p>
                <p class="mb-1" style="font-size: .77rem;">Like to talk</p>
                <%= f.number_field :talk, in: 0..100, step: 1, placeholder: @user.talk, class: "form-control form-control-sm"%>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Ready for relationship</p>
                <%= f.number_field :relation, in: 0..100, step: 1, placeholder: @user.relation, class: "form-control form-control-sm"%>

                <p class="mt-4 mb-1" style="font-size: .77rem;">Netflix lover</p>
                <%= f.number_field :netflix, in: 0..100, step: 1, placeholder: @user.netflix, class: "form-control form-control-sm"%>

                <p class="mt-4 mb-1" style="font-size: .77rem;">Video Games</p>
                <%= f.number_field :games, in: 0..100, step: 1, placeholder: @user.games, class: "form-control form-control-sm"%>

                <p class="mt-4 mb-1" style="font-size: .77rem;">Adventurer</p>
                <%= f.number_field :adventure, in: 0..100, step: 1, placeholder: @user.adventure, class: "form-control form-control-sm"%>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <%= f.submit class: "btn btn-primary m-3"%>
<% end%>
</section>